    body{
        background-color: #1c0021;  
    }

    .container{
        margin-top: 14vh;
        margin-bottom: 14vh;
    }

    .btn.btn-primary{
        background-color: #1c3166;
        border: none;
    }
    .btn.btn-primary:hover{
        background-color: #096279;
    }

    .card{
        border-radius: 10px;
        background-color:#240047;
    }

    .card-header{
        background-color: #1d0138;
        color: white;
    }

    .card-footer{
        display: flex;
        justify-content: flex-end;
    }


    label{
        font-weight: bold;
        color: white;
    }

    .navbar{
        background-color: #25002c56;
        padding: 20px;
    }

    .navbar-branding{
        color: white;
        transition: color 0.5s ease-in-out;
    }

    .navbar-branding:hover{
        text-decoration: none;
        color: #00a9d4;
    }

    .navbar-branding h3{
        font-weight: 1000;
    }

    .perguntas-titulo{
        color: white;
        font-weight: 900;
        margin-bottom: 4vh;
    }
    .pergunta-desc{
        color: white;
        font-size: large;
    }
    .pergunta-titulo{
        color: white;
        font-weight: 900;
    }

    img{
        border-radius: 300px;
        width: 70px;
    }
    .pergunta-d{
        color: white;
        font-size: large;
    }
    .user-name{
        color: white;
        font-weight: 600;
    }

    .user{
        display: flex;
        align-items: flex-start;
    }

    .content{
        display: flex;
        flex-direction: column;
        margin-left: 1vh;
    }
